@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    min-height: 100vh;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 0 25px;
    
}

/*NAVBAR*/

.title {
    font-family: 'Princess Sofia', sans-serif;
}

/*FOOTER*/

.copyright {
    margin-top: 5px;
}

.row-footer{
    margin: 0;
}
.footer-icons {
    padding: 0 20px;
    color: #448aff;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}


/*REGISTER PAGE*/

.icon {
    color: #448aff;
}

.title-register {
    font-weight: 600;
    margin: 20px 0;
}

.btn-register {
    border-radius: 20px;
    border: 3px solid;
    border-color: #795548 ;
}

.card-panel {
    border: 3px solid ;
    border-radius: 20px;
    color: #795548;

}
