@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    position: relative;
    color: #795548;
}

body::after {
    content: '';
    display: block;
    height: 92px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 0 25px;
}

/* NAVBAR */

.title {
    font-family: 'Princess Sofia', sans-serif;
}

.main-title {
    font-family: 'Princess Sofia', sans-serif;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 0;

}

/* FOOTER */

.copyright {
    margin-top: 5px;
}

.row-footer{
    margin: 0;
}
.footer-icons {
    padding: 0 20px;
    color: #448aff;
}

.page-footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
}

/* INDEX.HTML PAGE */

 .card .card-content {
    padding-top: 10px;
 }

 .title-pages {
    font-weight: 600;
    margin-top: 35px;
}

.list-card {
    padding-bottom: 5px;
}

/* REGISTER.HTML PAGE */

.icon {
    color: #448aff;
}

.btn-submit {
    border-radius: 20px;
    border: 3px solid;
    border-color: #795548 ;
}

.card-panel {
    border: 3px solid ;
    border-radius: 20px;
    color: #795548;
}

.row-form-register {
    margin-top: 50px;
}

/* FLASH MESSAGES */

.flash-text{
    margin-top: 35px;
    border: 3px solid ;
    border-radius: 20px;
    color: #795548;
}


/* ADD_RECIPE.HTML PAGE */

.card-add-recipe {
    border: 3px solid ;
    border-radius: 20px;
    color: #795548;
    margin-bottom: 45px;
}

#btn-add {
    width: 30%;
}

.title-add_recipe {
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}

.input-field>label,
.select-wrapper input.select-dropdown {
    color: #795548;
}

/* MYPROFILE.HTML PAGE */

.btn-myprofile{
    margin-bottom: 25px;
}

/* SINGLE_RECIPE.HTML PAGE*/

.desc {
    font-size: 15px;
    margin-bottom: 10px;
}

.image-recipe {
    height: 100%;
    width: 100%;
}

.search-single {
    margin-top: 40px;
}

.divider {
    height: 3px;
    margin-top: 35px;
}

.divider-3 {
    margin-bottom: 20px;
}

.class-list {
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .divider-2 {
        display: none;
    }
}

