{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title-pages brown-text darken-4">Add Recipe</h3>

    <section class="row card-add-recipe card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input  id="recipe_name" name="recipe_name" type="text" 
                        minlength="5" maxlength="40" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <div class="row ">
                <div class="input-field col s4">
                    <select id="type" name="type" multiple class="validate" required>
                        <option value="" disabled selected>Course</option>
                        <option value="1">First Dish</option>
                        <option value="2">Main Course</option>
                        <option value="2">Dessert</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <input id="prep_time" name="prep_time"  type="text" class="validate" required>
                    <label for="prep_time">Prep Time</label>
                </div>
                <div class="input-field col s4">
                    <select id="difficulty" name="difficulty" multiple class="validate" required>
                        <option value="" disabled selected>Difficulty</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="2">Hard</option>
                        
                    </select>
                </div>
            </div>
            <div class="row ">
                <div class="input-field col s4">
                  
                    <select id="is_vegetarian" name="is_vegetarian" multiple class="validate" required>
                        <option value="" disabled selected>Vegetarian</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        
                    </select>
                </div>
                <div class="input-field col s4">
                    <input id="cook_time" name="cook_time" type="text" class="validate" required>
                    <label for="cook_time">Cooking time</label>
                </div>
                <div class="input-field col s4">
                    <select id="serving" name="serving" multiple class="validate" required>
                        <option value="" disabled selected>Serving</option>
                        <option value="1">2 People</option>
                        <option value="2">4 People</option>
                        <option value="3">6 People</option>
                        <option value="4">8 People</option>
                    </select>       
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea validate"
                        minlength="5" maxlength="500" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="preparation" name="preparation" class="materialize-textarea validate"
                        minlength="5" maxlength="500" required></textarea>
                    <label for="preparation">Preparation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="image" name="image" class="materialize-textarea validate"
                        minlength="5" maxlength="300" required></textarea>
                    <label for="image">Please Insert picture's URL</label>
                    <p><small>Please only supply URL ending with .jpg, .jpeg, or .png</small></p>
                </div>
            </div>
        </form>
    </section>
        
{% endblock %}