{% extends "base.html" %}
{% block content %}
    <h3 class="center-align title-pages brown-text darken-4 contact-title">Get in touch</h3>

<div class="row row-form-register ">
    <form class="col s12 m8 offset-m2" id="contact-form" onsubmit="return sendMail(this);">
        <!--CONTACT FORM-->
        <div class="card-panel grey lighten-4">
            
            <!--NAME-->
            <div class="row">
                <div class="input-field col s12 ">
                    <i class="fas fa-user prefix icon"></i>
                    <input id="name" name="name" type="text" class="validate brown-text" required>
                    <label for="name" class="brown-text darken-4">Name</label>
                </div>
            </div>
            <div class="row">

                <!--EMAIL-->
                <div class="input-field prefix col s12">
                    <i class="fas fa-envelope prefix icon"></i>
                    <input id="emailaddress" name="emailaddress" type="email" class="validate brown-text" required>
                    <label for="emailaddress" class="brown-text darken-4">E-mail address</label>
                </div>
            </div>
            <div class="row">

                 <!--MESSAGE-->
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix icon"></i>
                    <textarea id="message" name="message" class="materialize-textarea validate brown-text " required></textarea>
                    <label for="message">Your message</label>
                </div>
            </div>
            <div class="row">

                <!--SEND MESSAGE-->
                <div class="col s12 center-align">
                    <button type="submit" value="Submit" name="submit" class=" btn-large brown lighten-2 text-shadow waves-effect waves-light btn-submit">
                        Send <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div> 
{% endblock %}