{% extends "base.html" %}
{% block content %}
    <h3 class="center-align title-pages brown-text darken-4 contact-title">Get in touch</h3>

<div class="row row-form-register ">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact_us') }}">
        <!--CONTACT FORM-->
        <div class="card-panel grey lighten-4">
            
            <!--NAME-->
            <div class="row">
                <div class="input-field col s12 ">
                    <i class="fas fa-user prefix icon"></i>
                    <input id="name" name="name" type="text" class="validate brown-text" required>
                    <label for="name" class="brown-text darken-4">Name</label>
                    
                </div>
            </div>
            <div class="row">

                <!--EMAIL-->
                <div class="input-field prefix col s12">
                    <i class="fas fa-envelope prefix icon"></i>
                    <input id="email" name="email" type="email" class="validate brown-text" required>
                    <label for="email" class="brown-text darken-4">E-mail address</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix icon"></i>
                    <textarea id="textarea1" class="materialize-textarea validate brown-text" required></textarea>
                    <label for="textarea1">Your message</label>
                </div>
            </div>
            <div class="row">

                <!--SEND MESSAGE-->
                <div class="col s12 center-align">
                    <a type="submit" class=" btn-large brown lighten-2 text-shadow waves-effect waves-light btn-submit modal-trigger" href="#modal1">
                        Send <i class="fas fa-paper-plane"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>

    <!-- MODAL CONFIRMATION -->
    <div id="modal1" class="modal">
        <div class="modal-content center-align">   
            <h4 class="center-align brown-text darken-4">Message sent succesfully!</h4>
            <p> We will get back to you as soon as possible.</p>
        </div>
    </div>

</div> 




{% endblock %}