{% extends "base.html" %}
{% block content %}

    
    
        
    

    <h1 class="center-align title-register brown-text darken-4 title">Welcome to Nonna's Kitchen</h1>
    <!--RECIPES CONTAINER-->
    <div class="container container">
        
        <div class="row ">
            {% for recipe in recipes %}
            <div class="col s6 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ recipe.image }}" alt="{{recipe.recipe_name}}">
                        
                    </div>
                    <div class="card-content center-align">
                        <div><h5 class="brown-text darken-4 center-align">{{recipe.recipe_name}}</h5></div>
                        <div><i class="fas fa-users"></i> {{ recipe.serving }}</div>
                        <div><i class="far fa-hourglass"></i> Prep: {{ recipe.prep_time }}</div>
                        <div><i class="fas fa-hourglass"></i> Cook: {{ recipe.cook_time }}</div>
                        <div><i class="fas fa-exclamation"></i> Difficulty: {{ recipe.difficulty }}</div>
                        <div><i class="fas fa-leaf"></i> Vegetarian: {{ recipe.is_vegetarian }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
{% endblock %}


