{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-pages brown-text darken-4">Log In</h3>

<div class="row row-form-register ">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel grey lighten-4">
            
            <!--USERNAME-->
            <div class="row">
                <div class="input-field col s12 ">
                    <i class="fas fa-user prefix icon"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9_&$£%@]{5,15}$" required>
                    <label for="username" class="brown-text darken-4">Username</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Please provide minimum 5 characters</span>
                </div>
            </div>
            <div class="row">

                <!--PASSWORD-->
                <div class="input-field prefix col s12">
                    <i class="fas fa-lock prefix icon"></i>
                    <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="password" class="brown-text darken-4">Password</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Please provide minimum 5 letters or number no special characters</span>
                </div>
            </div>
            <div class="row">

                <!--LOGIN-->
                <div class="col s12 center-align">
                    <button type="submit" class=" btn-large brown lighten-2 text-shadow waves-effect waves-light btn-submit ">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align bold brown-text darken-4">
                        Need to register?
                        <a class="internal-link" href="{{ url_for('register') }}">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div> 
{% endblock %}