{% extends "base.html" %}
{% block content %}


    <!--SINGLE RECIPE CONTAINER-->
    <div class="container">
        <div class="row center-align ">
            <div class=" input-field col s12 search-single">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name" class="center-align">Search</label>
            </div>
        </div>
        <!--RECIPE CARD-->
        <section class="row card-add-recipe card-panel grey lighten-5">
            
            <div class="row">
                <h3 class="center-align title-add_recipe brown-text darken-4">{{ recipe.recipe_name }}</h3>
                <div class="col s12">
                    <img src="{{ recipe.image }}" alt="{{recipe.recipe_name}}" class="image-recipe">
                </div>
            </div>
            <div class="row">
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-tag fa-2x icon"></i><span class="class-list"> Course type:</span> {{ recipe.type }}</div>
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-users fa-2x icon"></i><span class="class-list"> Serving:</span> {{ recipe.serving }}</div>
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-utensils fa-2x icon"></i><span class="class-list"> Preparation Time:</span>
                    {{ recipe.prep_time }}</div>
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-hourglass fa-2x icon"></i><span class="class-list"> Cooking Time:</span> {{ recipe.cook_time }}
                </div>
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-exclamation fa-2x icon"></i><span class="class-list"> Difficulty:</span>
                    {{ recipe.difficulty }}</div>
                <div class="brown-text lighten-4 desc col s12 m6 center-align ">
                    <i class="fas fa-leaf fa-2x icon"></i><span class="class-list"> Vegetarian:</span> {{ recipe.is_vegetarian }}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m7 center-align">
                    <h4 class="center-align title-add_recipe brown-text darken-4">Preparation</h4>
                    {{- recipe.preparation -}}
                </div>
                
                <div class="col s12 m5 center-align">
                    <div class="divider divider-2"></div>
                    <h4 class="center-align title-add_recipe brown-text darken-4">ingredients</h4>
                    {{- recipe.ingredients -}} 
                </div>
            </div>
            
            <!--IF CURRENT USER LOG IN SHOWING BUTTON TO EDIT RECIPE-->
            {% if session.user|lower == recipe.author|lower %}
                <div class="row">
                    <div class="col s6 center-align">

                        <!--EDIT BUTTON-->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="btn btn-submit brown lighten-2 text-shadow waves-effect waves-light"> Edit <i class="fas fa-edit"></i></a>
                    </div>
                    <div class="col s6 center-align">

                        <!--CANCEL BUTTON-->
                        <a href="{{ url_for('index') }}" class="btn btn-submit brown lighten-2 text-shadow waves-effect waves-light modal-trigger"> Cancel    <i class="fas fa-window-close"></i></a>
                    </div>
                </div>   
            {% endif %}
                <div class="divider divider-3"></div>

                <!--AUTHOR-->
                <div class="brown-text lighten-4 center-align desc"> <i class="fas fa-user-check fa-2x icon"></i><span class="class-list"> Author:</span> {{ recipe.author }}</div>
        </section>   
    </div>    
{% endblock %}